{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой Сайт</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="header">
    <div class="logo">MySite</div>
    <nav class="nav">
        <a href="{% url 'news_post_list' %}">Главная</a>
        <a href="{% url 'about_me' %}">О нас</a>
        <a href="{% url 'create_student' %}">Регистрация в универ</a>
        <a href="{% url 'student_list' %}">Студенты</a>
    </nav>
</header>